body {
    background-color: black;
    text-align: center;
    font-family: Verdana, sans-serif;
    color: white
}

h1 {
    font-weight: normal;
    font-size: 50px;
}

h4 {
    font-size: 16px;
    color: aquamarine;
}

.video-box {
    width: fit-content;
    margin: 0 auto;
}

h2 {
    font-size: 42px;
    font-weight: 300;;
}

h3 {
    font-size: 21px;
    color: gray;
}
footer {
    text-align: right;
}
]