body {
    background-color: black;
    text-align: center;
}

h1 {
    font-family: Verdana, sans-serif;
    font-weight: normal;
    color: white;
    font-size: 50px;
}

h4 {
    font-size: 16px;
    color: aquamarine;
}

.video-box {
    width: fit-content;
    margin: 0 auto;
}
